.person {
  padding: 10px;
  border-radius: 55px;
  border: gray 1px solid;
  width: 300px;
  overflow: hidden;
  height: 300px;
}

.buttonsPanel {
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
}

.person span {
  max-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person:hover {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.42);
}
